[Unit]
Description=Logstash Btc Ticker
After=syslog.target

[Service]
SyslogIdentifier=probe
WorkingDirectory=/usr/local/share/node/logstash_bitcoin_ticker
ExecStart=/usr/bin/nodejs /usr/local/share/node/logstash_bitcoin_ticker/app.js
Restart=on-failure
StandardError=syslog
StandardOutput=null

[Install]
WantedBy=multi-user.target
